{% extends "helloDJ/base.html" %}
{% block content %}
<ul>
{% for pro_list in contacts %}
	<li style="color:{% cycle 'black' 'blue' 'green' %}">
	{{ pro_list.product_name }}
	</li>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</ul>
{% endblock %}
